*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}
p{
    font-weight:400;
}
.hero_container{
    height:100vh;
    width:100vw;
    position:relative;
    display:flex;
    align-items:center; 
    justify-content:center;   
    background:rgba(17, 34, 64, .9);
}
.hero_pic{
    height:100%;
    width:100%;
    position:absolute;
    filter:blur(0);
    z-index:-1;
}
.intro_container{
    height:100%;
    width:85%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.intro_container>*{
    text-align:center;
}
.intro_header{
    font-size:2.3em;
    font-weight:700;
    line-height:1.5;
    margin:50px 0 30px 0;
    color:#ccd6f6;
}
.intro_paragraph{
    font-size:1.3em;
    font-weight:400;
    line-height:1.4;
    color:#a8b2d1;
    word-spacing:3px;
}
.highlight{
    color:#64ffda;
}
.hola_button{
    font-size:1.1em;
    font-weight:400;
    line-height:1.4;
    color:#64ffda;
    word-spacing:0px;
    border:1px solid #64ffda;
    padding:10px;
    margin-top:30px;
    text-decoration:none;
    border-radius:5px;
    transition:border,color .3s;
}
.hola_button:hover, .hola_button:active{
    border:1px solid #e6f1ff;
    color:#e6f1ff;
}
.hola_paragraph{
    margin-top:40px;
}
.nav_bar{
    position:absolute;
    width:85%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    top:20px;
}
.fa-envelope{
    margin-right:1px;
}
.sub_nav_bar>*{
    font-size:1.4em;
    margin-left:15px;
    color:#e6f1ff;
    transition:color .3s;
    display:flex;
}
.sub_nav_bar>*:hover, .sub_nav_bar>*:active{
    color:#64ffda;
}
.nav_menu{
    position:fixed;
    top:0;
    left:-4%;
    height:100vh;
    width:50vw;
    background:rgb(17, 34, 64);
    align-items:center;
    display:none;
    transition:display .5s;
    padding-top:50px;
}
.nav_menu>*{
    margin:20px 0 0 20%;
}
.home,.about,.projects{
    color:#e6f1ff;
    text-decoration:none;
    transition:border-left,padding-left .5s;
}
.home:active,.about:active,.projects:active,.home:hover,.about:hover,.projects:hover{
    border-left:2px solid #64ffda;
    padding-left:2px;
}
.fa-xmark{
    position:absolute;
    top:10px;
    right:10px;
    font-size:2em;
}
.illustration{
    height:400px;
    width:300px;
    display:none;
}
@media (min-width:800px){
    .nav_menu{
        position:relative;
        background:inherit;
        display:flex;
        margin:0;
        padding:0;
        height:auto;
        width:auto;
    }
    .nav_menu>*{
        margin-left:15px;
    }
    .home:active,.about:active,.projects:active,.home:hover,.about:hover,.projects:hover{
    border:none;
    color:#64ffda;
    padding:0;
    }
    .fa-xmark{
        display:none;
        position:relative;
    }
    .intro_container{
        align-items:flex-start;
    }
    .intro_container>*{
        text-align:left;
        max-width:400px;
    }
    }
